{% extends 'base.html' %}

{% block content %}
<h2 class="me-4 my-4">{{ user.username }}님의 프로필</h2>
  <div class="p-4 text-center">
    <p class="text-center">
      이름: {{ user.full_name }}
    </p>
    <p class="text-center">
      이메일 : {{ user.email }}
    </p>
    <p class="text-center">
      팔로잉 : {{ user.followings.all|length }}명 | 팔로워 : {{ user.followers.all|length }}명
    </p>
  </div>
  <div class="p-4 text-center">
    {% if request.user == user %}
      <div class="row justify-content-center mb-3">
        <div class="col-4">
          <a class="btn btn-primary" href="{% url 'accounts:update' %}">회원 정보 수정</a>
          <a class="btn btn-warning" href="{% url 'accounts:password' %}">비밀번호 변경</a>
          <a class="btn btn-danger" href="{% url 'accounts:delete' %}">회원 탈퇴</a>
        </div>
      </div>

    {% else %}
      <div class="row justify-content-center mb-3">
        <div class="col-sm-12 col-md-8 col-lg-4">
          {% if request.user.is_authenticated %}
            {% if request.user in user.followers.all %}
              <a href="{% url 'accounts:follow' user.pk %}" class="btn btn-success form-control">언팔로우</a>
            {% else %}
              <a href="{% url 'accounts:follow' user.pk %}" class="btn btn-outline-success form-control">팔로우</a>
            {% endif %}
          {% else %}
            <button class="btn btn-outline-success form-control disabled" type="submit">팔로우</button>
          {% endif %}
        </div>
      </div>
    {% endif %}
  </div>
{% endblock content %}