{% extends 'base.html' %}
{% block content %}

<div class="d-flex justify-content-center mt-3 my-3" style="height: 35px;">
    <form class="d-flex" role="search" action=" {% url 'articles:search' %}">
        <select class="form-select form" name="select" style="width: 8rem;">
            <option selected>선택</option>
            <option value="1">작성자</option>
            <option value="2">게시글</option>
        </select>
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"
          name="search">
      <button class="btn btn-outline-dark" type="submit">Search</button>
    </form>
</div>

<div>
  {% if articles.count == 0 %}
  <h2 class="m-3">검색 결과가 없습니다.</h2>
  {% else %}
  <h2 class="m-3">검색 결과</h2>
  {% endif %}
</div>
<hr>

{% endblock content %}